@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  @apply border border-gray-200 rounded-sm w-full mb-2 p-1 outline-none focus-visible:border-light-green text-black;
  @apply shadow-sm;
}

a:hover {
  @apply text-sharp-pink;
}

button:hover {
  @apply text-light-green;
}

h1,
h2,
h3 {
  @apply font-robotoFont text-light-green;
}

.menuitems {
  @apply px-2 py-1;
}
.menuitems:hover {
  @apply bg-white px-2 py-1 rounded-md;
}

.hamburger-menu {
  @apply hover:bg-white hover:text-sharp-pink hover:w-screen flex justify-center items-center;
}

.image-full-width {
  width: 100%;
  height: auto;
}
